.fixed-wrapper-card {
  display: flex;
  gap: 20px;
  flex-direction: column;

  position: relative;
}

.fixed-card-1 {
  width: 100%;
  height: 100px;

  background-color: red;
}

.fixed-card-2 {
  width: 100%;
  height: 100px;

  position: fixed;
  bottom: 0;

  background-color: rebeccapurple;
}

.fixed-card-3 {
  width: 100%;
  height: 100px;

  background-color: green;
}
