.sticky-wrapper-card {
  display: flex;
  gap: 20px;
  flex-direction: column;

  position: sticky;
  top: 0px;
}

.sticky-card-1 {
  width: 100%;
  height: 100px;

  background-color: red;
}

.sticky-card-2 {
  width: 100%;
  height: 100px;

  background-color: rebeccapurple;
}

.sticky-card-3 {
  width: 100%;
  height: 100px;

  background-color: green;
}
