/* Import URL */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  /* Font Family */
}

.wrapper {
  width: 100%;
  max-width: 800px;

  margin: 0 auto;
}

p {
  margin: 20px 0;
  font-size: 20px;
}
