* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.kotak1 {
  width: 500px;
  height: 500px;

  /* Padding & Margin */

  background-color: brown;
}

.kotak2 {
  width: 100%;
  height: 100%;

  /* Padding  */

  background-color: blueviolet;
}

.konten {
  background-color: yellow;
}
